<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" media="all" href="__HOME__/style/style.css" />
    <script src="__HOME__/style/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="__HOME__/style/jquery.error.js" type="text/javascript"></script>
    <script src="__HOME__/style/jtemplates.js" type="text/javascript"></script>
    <script src="__HOME__/style/jquery.form.js" type="text/javascript"></script>
    <script src="__HOME__/style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__HOME__/style/wp-sns-share.js"></script>
    <script type="text/javascript" src="__HOME__/style/voterajax.js"></script>
    <script type="text/javascript" src="__HOME__/style/userregister.js"></script>
    <link rel="stylesheet" href="__HOME__/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__HOME__/style/voteitup.css" type="text/css" />
    <link rel="stylesheet" href="__HOME__/style/list.css" type="text/css" />
    <link rel="stylesheet" href="__HOME__/style/bootstrap.css" type="text/css" />

</head>
<body id="list_style_2" class="list_style_2">
 <script>
     function subForm()
     {

         formsearch.submit();
 //form1为form的id
}
</script>
<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 
{include file="public/top" /}
<div id="wrapper">

<div class="path" style="width:200px">
    搜索结果如下：
</div>
      <div id="xh_container">
    <a name="new"></a>
        <div id="xh_content" style="padding-right:10px;">
            <div class="xh_area_h_3">
                <br>
                
             {volist name="res" id="vo"}
    <div class="xh_post_h_3 ofh">
                            <div class="xh_265x265">
                                <a target="_blank" href="{:url('content/lst',['id'=>$vo['id']])}" title="{$vo.title}">
                                    <img src="__PUBLIC__/{$vo.thumb}" alt="" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh">
                                    <a target="_blank" href="{:url('content/lst',['id'=>$vo['id']])}" title="{$vo.title}">{$vo.title}</a>
                                </h2>
                                <span class="time">{$vo.time|setTime}</span>
                                <div class="xh_post_h_3_entry ofh">                              
                                <?php echo mb_substr($vo['desc'],0,30,'utf-8')."...";?>
                </div>
                                <div class="b">
                                     <span title="{$vo.zan}人赞" class="xh_love">{$vo.zan}
    
                                    </span> 
                                    <span title="{$vo.click}人浏览" class="xh_views">{$vo.click}</span>
                                </div>
                            </div>
                        </div>
                {/volist}
            </div>
            <div style="margin:10px auto;width:200px;">{$res->render()}</div>
<!--             <div id="pagination"><div class='wp-pagenavi'> <a href="/lookbike/" style='float:right;'><img src='__HOME__/style/images/next01.png' id='next-page'></a></div></div> -->
        </div>
        <div id="xh_sidebar">

         <div class="widget" style="margin-top: 25px;">

<div style="background: url('__HOME__/images/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
</div>
<ul id="ulHot">
{volist name="recs" id="vo"}
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="{:url('content/lst',['id'=>$vo['id']])}" target="_blank"><img src="__PUBLIC__/{$vo.thumb}" width="83" title="{$vo.title}" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="{:url('content/lst',['id'=>$vo['id']])}" target="_blank" title="{$vo.title}">{$vo.title}</a></div>
</li>
{/volist}
</ul>
                </div>
            <div class="widget links">
                <h3>
                    友情链接</h3>
                <ul>
                {volist name="links" id="vo"}
                <li><a href='{$vo.url}' target='_blank'>{$vo.title}</a> </li>
                {/volist}
                </ul>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor"></div>
        <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
    </div>
{include file="public/footer" /}
                                        
                                    </body>
                                    </html>
