<!DOCTYPE html>
<html>
{include file="public/head" /}
<body>
	<!-- 头部 -->
	{include file="public/top" /}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file="public/menu" /}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('index/index')}">系统</a>
                    </li>
                                        <li class="active">栏目管理</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button tooltip="添加栏目" class="btn btn-azure btn-sm btn-addon" data-toggle="modal" data-target="#myAddModal">Add</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">栏目名称</th>
                                <th class="text-center">栏目类型</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name="menu" id="vo"}
                            <tr>
                                <td align="center">{$vo.id}</td>
                                <td align="left"><?php echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',$vo['level']);if($vo['level']!==0)echo "|-";?>{$vo.catename}</td>
                                <td align="center">{$vo.type|menu_type}</td>
                                <td align="center">
                                    <a href="{:url('edit','id='.$vo['id'])}" class="btn btn-primary btn-sm" >编辑</a>
                                    <a href="#" onclick="del({$vo.id})" class="btn btn-danger btn-sm shiny" id="del_button"> 删除</a>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>
    <!-- 添加弹出框 -->
    <div class="modal fade" id="myAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加栏目</h5>
                </div>
            <div class="modal-body">
            <!-- add main -->
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="" method="post" id="add_form">
                        <div class="form-group">
                            <label for="pid" class="col-sm-2 control-label no-padding-right">上级栏目</label>
                            <div class="col-sm-6">
                                <select name="pid" style="width: 100%;">
                                    <option selected="selected" value="0">一级栏目</option>
                                    {volist name="menu" id="vo"}
                                    <option value="{$vo.id}"><?php echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$vo['level']);if($vo['level']!==0)echo "|-";?>{$vo.catename}</option> 
                                    {/volist}                                
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>     
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label no-padding-right">栏目名</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="catename" placeholder="" name="catename" type="text" required="" value="">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                        <label for="pid" class="col-sm-2 control-label no-padding-right">栏目类型</label>
                            <div class="col-sm-4">
                                <select name="type" style="width: 100%;" onchange="CateUrl(this)">
                                    <option selected="selected" value="1">文章列表</option>
                                    <option value="2">单页栏目</option>
                                    <option value="3">图片列表</option>                         
                                </select>
                            </div>
                            <div class="col-sm-2"></div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group" id="cate_url" style="display:none">
                            <label for="url" class="col-sm-2 control-label no-padding-right">栏目地址</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="url" placeholder="" name="url" type="text"  value="">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填(请勿填写后缀)</p>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label no-padding-right">栏目关键字</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="keywords" placeholder="" name="keywords" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desc" class="col-sm-2 control-label no-padding-right">栏目描述</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="3" name="desc"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <font id="success_msg"></font>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <!-- <input type="submit" class="btn btn-primary" value="保存"/> -->
                            <button type="button" class="btn btn-primary" id="add_button_submit" type="submit">保存</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- add main end -->
    </div>
</div>
     </div>
     <!-- add end -->
    
	  {include file="public/js" /}



</body></html>